<template>
  <div>
      <!-- <header-content></header-content> -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="text-danger">Machine Detail {{this.$route.params.id}}</h1>
            <el-button type="success" plain>STANDARD: {{minstandard}} - {{standard}}  </el-button>
            <el-button type="success" plain>LOCATION: {{location}}</el-button>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">
                <a href="#">Home</a>
              </li>
              <li class="breadcrumb-item active">Machine Detail</li>
            </ol>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>

    <section class="content-header">
      <div class="container-fluid">
        <div class="row ">
          <div class="col-md-5">
            <!-- GAUGET CHART -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">RPM Meter</h3>
              </div>
              <div class="card-body">
                <div class="chart">
                  <JqxGauge
                    ref="myGauge"
                    @valueChanging="onValueChanging($event)"
                    :ranges="ranges"
                    :ticksMinor="ticksMinor"
                    :ticksMajor="ticksMajor"
                    :value="0"
                    :colorScheme="'scheme05'"
                    :animationDuration="1200"
                    :max="1000"
                    :labels="labels"
                  ></JqxGauge>
                  <div ref="gaugeValue" class="gaugeValue"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-7">
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">RPM Chart Zoom</h3>
              </div>
              <div class="card-body">
                <div id="chart">
                     <ejs-chart id="container1"  :primaryXAxis='primaryXAxis' :primaryYAxis='primaryYAxis1' :zoomSettings='zoom' :legendSettings='legend'  :tooltip='tooltip'>
                        <e-series-collection>
                            <e-series :dataSource='seriesData2' :marker='marker' type='Line' name='RPM'  xName='createddatetime' yName='RPM' > </e-series>
                        </e-series-collection>
                    </ejs-chart>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">RPM Chart By Day</h3>
              </div>
              <div class="card-body">
                 <!-- <div id="chart">
                    <apexchart type="line" height="350" :options="chartOptions" :series="series"></apexchart>
                  </div> -->
                <ejs-chart id="container" :primaryXAxis='primaryXAxis' :primaryYAxis='primaryYAxis'   :legendSettings='legend'    :tooltip='tooltip'>
                  <e-series-collection>
                    <e-series :dataSource='seriesData' :marker='marker'  type='Line' xName='createddatetime' yName='RPM' name='RPM'> </e-series>
                  </e-series-collection>
                </ejs-chart>
                
              </div>
            </div>
          </div>
     
        </div>
      </div>
    </section>

    <h1>History Data</h1>

    <div class="block">
      <el-date-picker
        v-model="value"
        type="daterange"
        align="right"
        start-placeholder="Start Date"
        end-placeholder="End Date"
        @change="gettime(value)"
      ></el-date-picker>
      <el-button type="success" plain @click="exportExcel()">Export Excel</el-button>
    </div>
    
    <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body table-responsive p-0">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Valid</th>
                <th>Date</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>AVG RPM</th>
                <th>Minutes</th>
              </tr>
            </thead>
            <tbody >

              <tr v-for="(item,key,index) in data2" :key="index"  >
                <td>
                  <span v-if="item.RPM < standard & item.RPM > minstandard" class="badge badge-success">yes</span>
                  <span v-else  class="badge badge-danger">no</span>
                </td>
                <td>{{item.Date}}</td>
                <td>{{item.StartTime}}</td>
                <td>{{item.EndTime}}</td>
                <td>{{item.RPM}}</td>
                <td>{{item.Minutes}}</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
  </div>
  <!-- /.content -->
</template>

<script>
import JqxGauge from "jqwidgets-scripts/jqwidgets-vue/vue_jqxgauge.vue";
import LineChart from "../../../js/LineChart";
import moment from "moment";
// import zoom from 'chartjs-plugin-zoom';
import Vue from "vue";
import { ChartPlugin, LineSeries,Tooltip ,DateTime ,Zoom ,AreaSeries,Legend,ScrollBar,RsiIndicator } from "@syncfusion/ej2-vue-charts";

Vue.use(ChartPlugin);
export default {
  name: "MachineDetail",

  components: {
    LineChart,
    JqxGauge,
    // HeaderContent
  },

  data() {
    return {
      indicators: [{
        type: 'Rsi', seriesName: 'RPM',
        showZones: true, overBought: 350, overSold: 250,
        period: 3, animation: { enable: false },upperLine: { color: 'red' }, lowerLine: { color: 'red' }
      }],
      primaryYAxis:
      {
        minimum: 0,
        maximum: 700,
        interval: 100,
      },
      primaryYAxis1:
      {
        minimum: 0,
        // maximum: 700,
        interval: 100,
        // rowIndex: 1, opposedPosition: true, lineStyle: { width: 0 }
      },
      zoom:
      {
        enableMouseWheelZooming: true,
        enablePinchZooming: true,
        enableSelectionZooming: true,
        // enableScrollbar: true,
      },
      legend: { visible: false },
      seriesData: [
       { x: new Date("2020-05-11 08:31:16"), y: 10 }, { x: new Date("2020-05-11 08:35:25"), y: 30 },
      ],
      seriesData2: [
       { x: new Date("2020-05-11 08:31:16"), y: 10 }, { x: new Date("2020-05-11 08:35:25"), y: 30 },
      ],
      // title: "Efficiency of oil-fired power production",
      marker: {
        // visible: true,
      },
      tooltip: {enable: true},
      primaryXAxis: {
        valueType: 'DateTime',
        labelFormat: 'hh:mm',
        // interval: 15,
        intervalType: 'Hours',
        rangePadding: 'Round'
      },
      series: [{
        name: '',
        data: []
      }],
      series2: [{
        name: '',
        data: []
      }],
      chartOptions: {
      },
      chartOptions2: {
      },
      labels: ["Apple", "Mango", "Banana", "Papaya", "Orange"],
      value: [this.$route.params.start, this.$route.params.end] ,
      start: this.$route.params.start,
      end: this.$route.params.end,
      temp: [],
      data: [],
      datatime: [],
      data2: [],
      standard: 0,
      location: '',
      minstandard:0,
      uri: "",
      abc: true,
      loading: false,
      message: "",
      datacollection: {},
      options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          yAxes: [
            {
              ticks: {
                beginAtZero: true,
                // min: 0
              }
            }
          ],
          xAxes: [
            {
              ticks: {
                beginAtZero: true,
                // min: 0
              }
            }
          ]
        },
        pan: {
          enabled: true,
          mode: "xy",
          
        },
        zoom: {
          enabled: true,
          mode: "xy",
          rangeMin: {
            x: 2,
            y: 0
          },
          rangeMax: {
            x: 5,
            y: 5000
          }
        },
      },
      options2: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          yAxes: [
            {
              ticks: {
                beginAtZero: true,
                // min: 0
              }
            }
          ],
          xAxes: [
            {
              ticks: {
                beginAtZero: true,
                // min: 0
              }
            }
          ]
        }
      },
      RPM: 0,
      display: false,
      machineID: "",
      ticksMinor: { interval: 5, size: "5%" },
      ticksMajor: { interval: 10, size: "9%" },
      labels: { interval: 100 },
      ranges: [
        {
          startValue: 0,
          endValue: 500,
          style: { fill: "red", stroke: "red" },
          endWidth: 13,
          startWidth: 13
        },
        {
          startValue: 500,
          endValue: 1000,
          style: { fill: "#4bb648", stroke: "#4bb648" },
          endWidth: 16,
          startWidth: 13
        }
      ],
      rangesLinear: [
        {
          startValue: -10,
          endValue: 10,
          style: { fill: "#FFF157", stroke: "#FFF157" }
        },
        {
          startValue: 10,
          endValue: 35,
          style: { fill: "#FFA200", stroke: "#FFA200" }
        },
        {
          startValue: 35,
          endValue: 60,
          style: { fill: "#FF4800", stroke: "#FF4800" }
        }
      ]
    };
  },
  provide: {
    chart: [LineSeries,Tooltip,DateTime ,Legend, Zoom, ScrollBar,AreaSeries ,RsiIndicator   ]
  },
  created() {
    let seft = this;
    this.$socket.emit("C", this.abc);
    seft.get(seft.$route.params.id);
    seft.linechart();
    seft.fillData();
    seft.gettime()
    // seft.gaugechart()
  },
  mounted: function() {
   
  },

  sockets: {
    connect: function() {
      console.log("socket connected");
    },
    customEmit: function(data) {
      console.log(
        'this method was fired by the socket server. eg: io.emit("customEmit", data)'
      );
    },
    welcome(data) {
      this.machineID = data.id;
      let id = this.$route.params.id;
      if (this.machineID == id) {
        this.get(this.$route.params.id);
        this.gaugechart();
        // this.fillData();
        this.linechart();
      }
    }
  },

  watch: {
    value: function(newVal, oldVal) {
      this.gettime(newVal);
      this.gettime2(newVal);
      this.get();
    }
  },
  methods: {

    tableRowClassName({row}) {
      if (row.rpm < this.standard & row.rpm > this.minstandard ) {
        return 'success-row'
      } else  {
        return 'warning-row'
      }
      
       
    },
    onValueChanging: function(event) {
      this.$refs.gaugeValue.innerHTML = Math.round(event.args.value) + " RPM";
    }, 
    fillData() {
      let seft = this;

      this.series= [{
        name: 'RPM',
        data: seft.data
      }]
      this.series2= [{
        name: 'RPM',
        data: seft.data
      }]
      this.chartOptions = {
        chart: {
          type: 'area',
          stacked: false,
          width: "100%",
          height: 350,
   
          zoom: {
            type: 'x',
            enabled: false,
            autoScaleYaxis: false
          },
          toolbar: {
            autoSelected: 'zoom'
          }
        },
        fill: {
          type: 'gradient',
          gradient: {
            shadeIntensity: 1,
            inverseColors: false,
            opacityFrom: 0.5,
            opacityTo: 0,
            stops: [0, 90, 100]
          },
        },
        markers: {
          size: 0,
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          curve: 'smooth'
        },
        grid: {
          show: true
        },
        xaxis: {
          // datetimeUTC: true,
          // type: 'time',
          categories: seft.datatime,
          labels: {
            rotate: -10,
            rotateAlways: true,
          }
        },
        yaxis: {
          min: 0,
          max: 700
        },
        grid: {
          borderColor: 'transparent',
          row: {
            colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
            opacity: 0.5
          },
        },
        tooltip: {
          shared: true
        },
      }

      this.chartOptions2 = {
        chart: {
          type: 'area',
          stacked: false,
          height: 350,
          zoom: {
            type: 'x',
            enabled: true,
            autoScaleYaxis: true
          },
          toolbar: {
            autoSelected: 'zoom'
          }
        },
        // labels: seft.datatime,
        fill: {
          type: 'gradient',
          gradient: {
            shadeIntensity: 1,
            inverseColors: false,
            opacityFrom: 0.5,
            opacityTo: 0,
            stops: [0, 90, 100]
          },
        },
        markers: {
          size: 0,
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          curve: 'smooth'
        },
        xaxis: {
          categories: seft.datatime,
          labels: {
            rotate: -10,
            rotateAlways: true,
          }
        },
        yaxis: {
          min: 0,
        },
        grid: {
          borderColor: 'transparent',
          row: {
            colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
            opacity: 0.5
          },
        },
        tooltip: {
          x: {
            format: 'MM/dd/yy HH:mm'
          },
        },
      }
    }, 
    get(id) {
      if (id == undefined) return;
      let seft = this;
      seft.loading = true;
      seft.$api.get(`api/raw/detail/${id}`).then(r=>{
        seft.loading = false;
        seft.data2 = r.data.model;
        seft.standard = r.data.standard;
        seft.location = r.data.location;
        seft.minstandard = r.data.minstandard;
      })
    },
    linechart() {
      // debugger
      let id = this.$route.params.id;
      if (id == undefined) return;
      let seft = this;
      seft.loading = true;
      seft.$api.get(`api/raw/getchart2/${id}/${seft.start}/${seft.end}`).then(r =>{
         seft.loading = false;
         seft.seriesData = r.data.model2
         seft.seriesData2 = r.data.model2
          // r.data.model2[0].RPM.map(item => {
          //   seft.data.push(item);
          // });
          // r.data.model2[0].createddatetime.map(item => {
          //   seft.datatime.push(item);
          // });
          // // seft.data = r.data.model2[0].RPM;
          // seft.fillData();
      })
     
    },
    gaugechart() {
      let seft = this;
      let id = this.$route.params.id;
      if (id == undefined) return;

      seft.loading = true;
      seft.$api.get(`api/raw/getrpm/${id}`).then(r=>{
        console.log(r)
        seft.loading = false;
        seft.RPM = r.data.RPM;
        seft.$refs.myGauge.value = r.data.RPM;
      })
    },
    getDate: function(dateTime) {
      var nowDate = new Date(dateTime);
      return (
        nowDate.getFullYear() +
        "-" +
        (nowDate.getMonth() + 1) +
        "-" +
        nowDate.getDate()
      );
    },
    gettime(value = this.value) {
      let id = this.$route.params.id;
      if (id == undefined) return;
      let seft = this;
      let vm = value;
      seft.$api.get(`api/raw/detail/${id}/${seft.getDate(vm[0])}/${seft.getDate(vm[1])}`).then(r=>{
        seft.loading = false;
        r.data.model.map(item => {
        seft.data2.push(item);
        });
        seft.data2 = r.data.model;
        seft.fillData();
    })
    },
    gettime2(value = this.value) {
      let id = this.$route.params.id;
      if (id == undefined) return;
      let seft = this;
      let vm = value;
      seft.$api.get(`api/raw/getchart2/${id}/${seft.getDate(vm[0])}/${seft.getDate(vm[1])}`).then(r =>{
         seft.loading = false;
          // r.data.model2[0].RPM.map(item => {
          //   seft.data.push(item);
          // });
          // r.data.model2[0].createddatetime.map(item => {
          //   seft.datatime.push(item);
          // });
          seft.seriesData = r.data.model2
          seft.seriesData2 = r.data.model2
          // seft.data = r.data.model2[0].RPM;
          this.$router.push({
            name: "machine",
            params: { start: seft.getDate(vm[0]) ,end : seft.getDate(vm[1]) }
          });
          // seft.fillData();
      })
    },
    exportExcel(value = this.value) {
      let id = this.$route.params.id;
      if (id == undefined) return;
      let seft = this;
      let vm = value;
      let start = seft.getDate(vm[0]),
        end = seft.getDate(vm[1]),
        mypromise;
      if (end == NaN && start == NaN) {
        mypromise = new Promise((resolve, reject) => {
          resolve(
            (window.location.href = `http://10.4.4.92:4201/api/raw/exportexcel/${id}`)
          );
        });
      } else if (end == NaN) {
        mypromise = new Promise((resolve, reject) => {
          resolve(
            (window.location.href = `http://10.4.4.92:4201/api/raw/exportexcel/${id}/${start}`)
          );
        });
      } else {
        mypromise = new Promise((resolve, reject) => {
          resolve(
            (window.location.href = `http://10.4.4.92:4201/api/raw/exportexcel/${id}/${start}/${end}`)
          );
        });
      }
      mypromise.then(x => {
        seft.$message({
          message: "success",
          type: "success"
        });
      });
    }
  }
};
</script>

<style>
  #container {
   height: 350px;
 }
.el-table .warning-row {
  background: #851441;
  color: #f3f3f3;
}
.el-table--enable-row-hover .el-table__body tr:hover>td {
  background-color: transparent;
}


.el-table .success-row {
  background: #2e854b;

  color: #f3f3f3;
}
.text {
  font-size: 14px;
}

.item {
  padding: 18px 0;
}

.box-card {
  width: 480px;
}
.gaugeValue {
  background-image: -webkit-gradient(
    linear,
    50% 0%,
    50% 100%,
    color-stop(0%, #fafafa),
    color-stop(100%, #f3f3f3)
  );
  background-image: -webkit-linear-gradient(#fafafa, #f3f3f3);
  background-image: -moz-linear-gradient(#fafafa, #f3f3f3);
  background-image: -o-linear-gradient(#fafafa, #f3f3f3);
  background-image: linear-gradient(#fafafa, #f3f3f3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  padding: 10px;
  position: absolute;
  top: 290px;
  left: 140px;
  font-family: Sans-Serif;
  text-align: center;
  font-size: 17px;
  width: 70px;
}
</style>