<template>
  <div>
    <h2>{{ pageTitle }}</h2>
    <el-form v-loading="loading" :model="form" :rules="rules" ref="ruleForm">
      <el-form-item label="Location Name" prop="locationName">
        <el-input v-model="form.locationName"></el-input>
      </el-form-item>

      <el-form-item>
        <el-button @click="save" type="primary">Save</el-button>
        <el-button @click="resetForm('ruleForm')">Cancel</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
export default {
  name: "LocationCreateOrUpdate",
  data() {
    return {
      loading: false,
      form: {
        locationId: 0,
        locationName: null
      },
      rules: {
        name: [
          { required: true, message: "Please input your name" },
          { min: 3, message: "Your name must be longer than 3 characters" }
        ]
      }
    };
  },
  computed: {
    pageTitle() {
      return this.form.locationId === 0
        ? "Add new Location"
        : `Edit ${this.form.locationName}`;
    }
  },
  created() {
    let seft = this;
  },
  methods: {
    resetForm(ruleForm) {
      this.$refs[ruleForm].resetFields();
    },
    save() {
      let seft = this;
      seft.$refs["ruleForm"].validate(valid => {
        if (valid) {
          seft.loading = true;
          if (seft.form.locationId > 0) {
            seft.$api.put('api/location/put',seft.form).then(r=>{
              seft.loading = false;
              seft.$router.push("/home");
              seft.$message({
                message: "success",
                type: "Update successfully"
              });
            })
          } else {
            seft.$api.post('api/location/post',seft.form).then(r=>{
              seft.loading = false;
              seft.$router.push("/home");
              seft.$message({
                message: "success",
                type: "Update successfully"
              });
            })
          }
        }
      });
    }
  }
};
</script>