<template>
  <footer class="main-footer" id="appFooter">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 3.0.2
    </div>
    <strong>
      Copyright &copy; 2020-2021
      <a href="http://10.4.0.76:93" target="blank">LabTeam</a>.
    </strong>
    All rights reserved.
  </footer>
</template>

<script>
export default {
  name: "appFooter"
};
</script>

<style scoped></style>
