<template>
  <div>
    <section class="content-header" id="appBreadcrumb">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>List Machine</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">
              <a href="#">Home</a>
            </li>
            <li class="breadcrumb-item active">List Machine</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">List Machine</h5>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>

              <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
              </button>
            </div>
            <div class="card-tools pr-5">
              <div class="input-group input-group-sm" style="width: 150px;">
                <input type="text" name="table_search" class="form-control float-right" placeholder="Search" />

                <div class="input-group-append">
                  <button type="submit" class="btn btn-default">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>MACHINE ID</th>
                  <th>DESCRIPTION</th>
                  <th>LOCATION</th>
                  <th>Option</th>
                </tr>
              </thead>
              <tbody >
                <tr v-for="(item,key,index) in data"  :key="index">
                  <td>{{item.machineID}}</td>
                  <td>{{item.description}}</td>
                  <td>{{item.locationname}}</td>
                  <td class="py-0 align-middle">
                    <div class="btn-group btn-group-sm">
                      <a @click="$router.push(`/machines/${item.machineID}/edit`)" data-toggle="tooltip"  data-placement="top" title="Edit!" style="cursor: pointer;" class="btn btn-info">
                        <i style="color:white" class="fas fa-edit"></i>
                      </a>
                      <a style="cursor: pointer;"  @click="getRoute(item.machineID)" data-toggle="tooltip" data-placement="top" title="Detail!" class="btn btn-danger">
                        <i style="color:white" class="fas fa-info-circle"></i>
                      </a>
                    </div>
                  </td>
                  
                </tr>
                
              </tbody>
            </table>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
  </div>
</template>
<script>
import axios from 'axios';
export default {
  data() {
    return {
      data: [],
      loading: false,
      start: "",
      end: ""
    };
  },
  created() {
    let seft = this;
    seft.getAll();
  },
  methods: {
    remove(id) {
      let seft = this;
      seft
        .$confirm(
          "This will permanently delete the file. Continue?",
          "Warning",
          {
            confirmButtonText: "OK",
            cancelButtonText: "Cancel",
            type: "warning"
          }
        )
        .then(() => {
          _remove();
          seft.$message({
            type: "success",
            message: "Delete successfully"
          });
        })
        .catch(() => {
          seft.$message({
            type: "info",
            message: "Delete canceled"
          });
        });
      function _remove() {
        seft.$store.state.services.rawService
          .remove(id)
          .then(r => {
            seft.loading = false;
            seft.getAll();
          })
          .catch(r => {
            seft.$message({
              message: "error",
              type: "error"
            });
          });
      }
    },
    getRoute(machineID) {
      this.start = this.getDate(Date.now());
      this.end = this.getDate(Date.now());
      return this.$router.push(`/machines/${machineID}/${this.start}/${this.end}/detail`
      );
    },
    getDate: function(dateTime) {
      var nowDate = new Date(dateTime);
      return (
        nowDate.getFullYear() +
        "-" +
        (nowDate.getMonth() + 1) +
        "-" +
        nowDate.getDate()
      );
    },
    getAll() {
      let seft = this;
      seft.loading = true;
      seft.$api.get('api/Raw/GetAll').then(r=>{
        seft.loading = false;
        seft.data = r.data
      })
    }
  }
}
</script>